
# ── Python ─────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.env



# ── IDE / Editor ───────────────────────────
.vscode/
.idea/
*.swp
*.swo

# ── Render / Deployment ────────────────────
.render/